# Project : Classifying and Searching News Articles from Key Phrases

### Data Preperation Part (Mehmet Acikgoz)

1.   Data Sampling
2.   Keywords Extraction
3.   Creating the Final Output

**Part 1 - Data Sampling**

We are going to work with the news data from kaggle (https://www.kaggle.com/rmisra/news-category-dataset). The data has more than 200.000 records. Since it requires a lot of computing power to  work with all the dataset. We have decided to take a sample of data which has around 20.000 records.
The following part reads the original dataset and spits out  equal number of records from each category in the news to a new file. The news in each category is randomly selected.

We need to mount the google drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

We need to have the rake library for the keyword extraction.

In [2]:
!pip install rake-nltk

Collecting rake-nltk
  Downloading https://files.pythonhosted.org/packages/8e/c4/b4ff57e541ac5624ad4b20b89c2bafd4e98f29fd83139f3a81858bdb3815/rake_nltk-1.0.4.tar.gz
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->rake-nltk) (1.15.0)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7819 sha256=d21459da0e964e6aef7b9145d78011bc57a719eb5a969f92398da089ae5fc2c4
  Stored in directory: /root/.cache/pip/wheels/ef/92/fc/271b3709e71a96ffe934b27818946b795ac6b9b8ff8682483f
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4

Importing the libraries

In [3]:
import pandas as pd
import random
import numpy as np
import json

import nltk
nltk.download('punkt')


from bs4 import BeautifulSoup
from urllib.request import Request, urlopen

from rake_nltk import Metric, Rake

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Defining global variables

In [5]:
from string import punctuation
from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))
punctuation_list = list(punctuation)
punctuation_list.extend(['‘','’','”','―',',”','“','"','{','}'])

Reading the original dataset

In [7]:
input_file_name = "News_Category_Dataset_v2.json"
import json
original_file_name = "/content/drive/My Drive/BigDataAnalyticsAndApplications/Project/dataset/"+input_file_name
original_data = []
with open(original_file_name) as f:
    for line in f:
        original_data.append(json.loads(line))

Converting the list of data into pandas dataframe

In [9]:
original_df = pd.json_normalize(original_data)
original_df.head(3)

        category  ...        date
0          CRIME  ...  2018-05-26
1  ENTERTAINMENT  ...  2018-05-26
2  ENTERTAINMENT  ...  2018-05-26

[3 rows x 6 columns]

Checking on the number of unique categories in the dataframe

In [10]:
original_df['category'].value_counts()

POLITICS          32739
WELLNESS          17827
ENTERTAINMENT     16058
TRAVEL             9887
STYLE & BEAUTY     9649
PARENTING          8677
HEALTHY LIVING     6694
QUEER VOICES       6314
FOOD & DRINK       6226
BUSINESS           5937
COMEDY             5175
SPORTS             4884
BLACK VOICES       4528
HOME & LIVING      4195
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3651
WOMEN              3490
IMPACT             3459
DIVORCE            3426
CRIME              3405
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
WORLDPOST          2579
RELIGION           2556
STYLE              2254
SCIENCE            2178
WORLD NEWS         2177
TASTE              2096
TECH               2082
MONEY              1707
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1339
ENVIRONMENT        1323
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1030
EDUCATION          1004
Name: category, dtype: int64

Selecting predefined number of records from each category and saving it back to a new file with the same input format

In [12]:
num_of_records_for_each_category = 500
data_df = pd.DataFrame(columns=['category', 'headline', 'authors', 'link', 'short_description', 'date'])
for col in original_df['category'].unique():
  print("data sampled in the category ", col)
  indices = original_df[original_df['category']==col].index
  random_items = np.random.choice(indices, num_of_records_for_each_category, False)
  df_temp = original_df.iloc[random_items]
  data_df = pd.concat([data_df, df_temp], ignore_index=True, sort=False)

data sampled in the category  CRIME
data sampled in the category  ENTERTAINMENT
data sampled in the category  WORLD NEWS
data sampled in the category  IMPACT
data sampled in the category  POLITICS
data sampled in the category  WEIRD NEWS
data sampled in the category  BLACK VOICES
data sampled in the category  WOMEN
data sampled in the category  COMEDY
data sampled in the category  QUEER VOICES
data sampled in the category  SPORTS
data sampled in the category  BUSINESS
data sampled in the category  TRAVEL
data sampled in the category  MEDIA
data sampled in the category  TECH
data sampled in the category  RELIGION
data sampled in the category  SCIENCE
data sampled in the category  LATINO VOICES
data sampled in the category  EDUCATION
data sampled in the category  COLLEGE
data sampled in the category  PARENTS
data sampled in the category  ARTS & CULTURE
data sampled in the category  STYLE
data sampled in the category  GREEN
data sampled in the category  TASTE
data sampled in the category  HEALTHY LIVING
data sampled in the category  THE WORLDPOST
data sampled in the category  GOOD NEWS
data sampled in the category  WORLDPOST
data sampled in the category  FIFTY
data sampled in the category  ARTS
data sampled in the category  WELLNESS
data sampled in the category  PARENTING
data sampled in the category  HOME & LIVING
data sampled in the category  STYLE & BEAUTY
data sampled in the category  DIVORCE
data sampled in the category  WEDDINGS
data sampled in the category  FOOD & DRINK
data sampled in the category  MONEY
data sampled in the category  ENVIRONMENT
data sampled in the category  CULTURE & ARTS

In [13]:
data_df.head()

  category  ...        date
0    CRIME  ...  2012-11-04
1    CRIME  ...  2015-01-19
2    CRIME  ...  2015-12-12
3    CRIME  ...  2015-05-19
4    CRIME  ...  2016-11-28

[5 rows x 6 columns]

**Part 2 - Keywords Extraction**

In this part, we are going to work on the sample dataset. 

Firstly,  we will go over each record in the dataset and access the orignal news article, then we will save the main text by scraping the news. We are going to use beatifulsoup to scrape the articles.

Secondly, after scraping the text of each article, we will implement keyword extraction by the rake library. Then we will have a new column 'key_words'  for each article. This new column will be used in the modelling later.

In [14]:
# converting the dataframe into a list of dictionary
data = data_df.to_dict(orient='records')

In [15]:
len(data)

20500

In [16]:
FROM_RECORDS = 0
TO_RECORDS = 400
NUM_RECORDS = TO_RECORDS-FROM_RECORDS
NUM_RECORDS

400

In [17]:
data = data[FROM_RECORDS:TO_RECORDS]
print('Number of rows in the data', len(data))

Number of rows in the data 400

In [19]:
def read_article_content(site):
    '''
    Reads all the article text and returns as a string
    '''
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = Request(site,headers=hdr)
    page = urlopen(req)
    soup = BeautifulSoup(page)
#     soup = BeautifulSoup(page, "lxml")

    content = [soup.title.text]
    for div in soup.findAll("div", {"class": "content-list-component yr-content-list-text text"}):
        sentence = '\n' + div.text.strip()
        sentence = sentence.encode("ascii", "ignore").decode()  # To ignore the non-ascii characters in the article.
        sentence = sentence.replace("\"","").replace("{","").replace("}","").replace("...","") # To clean some of the punctuation characters
        content.append(sentence)

    article = ' '.join([str(elem) for elem in content])  
    
    return article

In [20]:
def get_me_keywords(text):
  '''
  Returns upto predifned number of the keywords by using the RAKE algorithm given the text

  '''    
  NUM_PHRASES = 20; # number of phrases in the top ranking
    
  rake = Rake(stopwords= stop_words, punctuations= punctuation_list)
  text_array = text.split('\n')
  rake.extract_keywords_from_sentences(text_array)
    
    
  my_phrases = rake.get_ranked_phrases()

  if len(my_phrases) < NUM_PHRASES:
    NUM_PHRASES = len(my_phrases)
        
  return my_phrases[:NUM_PHRASES]

In [21]:
def validateurl(url):
  '''
  There are some systematic typos in the hyperlinks. 
  This method Validates and returns the correct form of the the hyperlink given in the dataset. 
  '''

  if url.startswith('https://www.huffingtonpost.comhttp://'):
    url = url.replace('https://www.huffingtonpost.com','')
  return url

In [22]:
my_list = []
start_index = 0
interval = 100
for i in range(NUM_RECORDS):
    try:
      url = data[i]['link']
      url = validateurl(url)
      article = read_article_content(url)
      keywords = get_me_keywords(article)
      data[i]["key_words"] = keywords

      if (i > 0) and ((i % interval) == (interval-1)) :
        data_in_box = data[start_index:start_index+interval]
        df_in_box = pd.json_normalize(data_in_box)
        out_filename = str(FROM_RECORDS+start_index)+"_"+str(FROM_RECORDS+i)+".json"
        df_in_box.to_csv (r'/content/drive/My Drive/BigDataAnalyticsAndApplications/Project/dataset/' + out_filename, index = False, header=True)
        print(i, 'is done')
        start_index = i+1


    except:
      print("Something went wrong at ", (FROM_RECORDS+i) )
      data[i]["key_words"] = []
      my_list.append((FROM_RECORDS+i))
      continue

print("Completed")


with open(r'/content/drive/My Drive/BigDataAnalyticsAndApplications/Project/dataset/errors_file.txt', 'a+') as myfile:
    for item in my_list:
        myfile.write("%s\n" % item)

99 is done
Something went wrong at  189
199 is done
299 is done
399 is done
Completed

**Part 3 - Combining all the files into a single one for use. (Final Part)**

In [23]:
data_final = pd.DataFrame(columns=['category', 'headline', 'authors', 'link', 'short_description', 'date','key_words'])
for i in range(0,20500,100):
  start=i 
  end = i+99
  file_name = str(start)+"_"+str(end)+".json"
  full_path = '/content/drive/My Drive/BigDataAnalyticsAndApplications/Project/dataset/'+file_name


  try:
    df = pd.read_csv(full_path)
    data_final = pd.concat([data_final, df], ignore_index=True, sort=False)    
  except:
    print("Something went wrong at the file",file_name)
    continue

Something went wrong at the file 400_499.json
Something went wrong at the file 500_599.json
Something went wrong at the file 600_699.json
Something went wrong at the file 700_799.json
Something went wrong at the file 800_899.json
Something went wrong at the file 900_999.json
Something went wrong at the file 1000_1099.json
Something went wrong at the file 1100_1199.json
Something went wrong at the file 1200_1299.json
Something went wrong at the file 1300_1399.json
Something went wrong at the file 1400_1499.json
Something went wrong at the file 1500_1599.json
Something went wrong at the file 1600_1699.json
Something went wrong at the file 1700_1799.json
Something went wrong at the file 1800_1899.json
Something went wrong at the file 1900_1999.json
Something went wrong at the file 2000_2099.json
Something went wrong at the file 2100_2199.json
Something went wrong at the file 2200_2299.json
Something went wrong at the file 2300_2399.json
Something went wrong at the file 2400_2499.json
Something went wrong at the file 2500_2599.json
Something went wrong at the file 2600_2699.json
Something went wrong at the file 2700_2799.json
Something went wrong at the file 2800_2899.json
Something went wrong at the file 2900_2999.json
Something went wrong at the file 3000_3099.json
Something went wrong at the file 3100_3199.json
Something went wrong at the file 3200_3299.json
Something went wrong at the file 3300_3399.json
Something went wrong at the file 3400_3499.json
Something went wrong at the file 3500_3599.json
Something went wrong at the file 3600_3699.json
Something went wrong at the file 3700_3799.json
Something went wrong at the file 3800_3899.json
Something went wrong at the file 3900_3999.json
Something went wrong at the file 4000_4099.json
Something went wrong at the file 4100_4199.json
Something went wrong at the file 4200_4299.json
Something went wrong at the file 4300_4399.json
Something went wrong at the file 4400_4499.json
Something went wrong at the file 4500_4599.json
Something went wrong at the file 4600_4699.json
Something went wrong at the file 4700_4799.json
Something went wrong at the file 4800_4899.json
Something went wrong at the file 4900_4999.json
Something went wrong at the file 5000_5099.json
Something went wrong at the file 5100_5199.json
Something went wrong at the file 5200_5299.json
Something went wrong at the file 5300_5399.json
Something went wrong at the file 5400_5499.json
Something went wrong at the file 5500_5599.json
Something went wrong at the file 5600_5699.json
Something went wrong at the file 5700_5799.json
Something went wrong at the file 5800_5899.json
Something went wrong at the file 5900_5999.json
Something went wrong at the file 6000_6099.json
Something went wrong at the file 6100_6199.json
Something went wrong at the file 6200_6299.json
Something went wrong at the file 6300_6399.json
Something went wrong at the file 6400_6499.json
Something went wrong at the file 6500_6599.json
Something went wrong at the file 6600_6699.json
Something went wrong at the file 6700_6799.json
Something went wrong at the file 6800_6899.json
Something went wrong at the file 6900_6999.json
Something went wrong at the file 7000_7099.json
Something went wrong at the file 7100_7199.json
Something went wrong at the file 7200_7299.json
Something went wrong at the file 7300_7399.json
Something went wrong at the file 7400_7499.json
Something went wrong at the file 7500_7599.json
Something went wrong at the file 7600_7699.json
Something went wrong at the file 7700_7799.json
Something went wrong at the file 7800_7899.json
Something went wrong at the file 7900_7999.json
Something went wrong at the file 8000_8099.json
Something went wrong at the file 8100_8199.json
Something went wrong at the file 8200_8299.json
Something went wrong at the file 8300_8399.json
Something went wrong at the file 8400_8499.json
Something went wrong at the file 8500_8599.json
Something went wrong at the file 8600_8699.json
Something went wrong at the file 8700_8799.json
Something went wrong at the file 8800_8899.json
Something went wrong at the file 8900_8999.json
Something went wrong at the file 9000_9099.json
Something went wrong at the file 9100_9199.json
Something went wrong at the file 9200_9299.json
Something went wrong at the file 9300_9399.json
Something went wrong at the file 9400_9499.json
Something went wrong at the file 9500_9599.json
Something went wrong at the file 9600_9699.json
Something went wrong at the file 9700_9799.json
Something went wrong at the file 9800_9899.json
Something went wrong at the file 9900_9999.json
Something went wrong at the file 10000_10099.json
Something went wrong at the file 10100_10199.json
Something went wrong at the file 10200_10299.json
Something went wrong at the file 10300_10399.json
Something went wrong at the file 10400_10499.json
Something went wrong at the file 10500_10599.json
Something went wrong at the file 10600_10699.json
Something went wrong at the file 10700_10799.json
Something went wrong at the file 10800_10899.json
Something went wrong at the file 10900_10999.json
Something went wrong at the file 11000_11099.json
Something went wrong at the file 11100_11199.json
Something went wrong at the file 11200_11299.json
Something went wrong at the file 11300_11399.json
Something went wrong at the file 11400_11499.json
Something went wrong at the file 11500_11599.json
Something went wrong at the file 11600_11699.json
Something went wrong at the file 11700_11799.json
Something went wrong at the file 11800_11899.json
Something went wrong at the file 11900_11999.json
Something went wrong at the file 12000_12099.json
Something went wrong at the file 12100_12199.json
Something went wrong at the file 12200_12299.json
Something went wrong at the file 12300_12399.json
Something went wrong at the file 12400_12499.json
Something went wrong at the file 12500_12599.json
Something went wrong at the file 12600_12699.json
Something went wrong at the file 12700_12799.json
Something went wrong at the file 12800_12899.json
Something went wrong at the file 12900_12999.json
Something went wrong at the file 13000_13099.json
Something went wrong at the file 13100_13199.json
Something went wrong at the file 13200_13299.json
Something went wrong at the file 13300_13399.json
Something went wrong at the file 13400_13499.json
Something went wrong at the file 13500_13599.json
Something went wrong at the file 13600_13699.json
Something went wrong at the file 13700_13799.json
Something went wrong at the file 13800_13899.json
Something went wrong at the file 13900_13999.json
Something went wrong at the file 14000_14099.json
Something went wrong at the file 14100_14199.json
Something went wrong at the file 14200_14299.json
Something went wrong at the file 14300_14399.json
Something went wrong at the file 14400_14499.json
Something went wrong at the file 14500_14599.json
Something went wrong at the file 14600_14699.json
Something went wrong at the file 14700_14799.json
Something went wrong at the file 14800_14899.json
Something went wrong at the file 14900_14999.json
Something went wrong at the file 15000_15099.json
Something went wrong at the file 15100_15199.json
Something went wrong at the file 15200_15299.json
Something went wrong at the file 15300_15399.json
Something went wrong at the file 15400_15499.json
Something went wrong at the file 15500_15599.json
Something went wrong at the file 15600_15699.json
Something went wrong at the file 15700_15799.json
Something went wrong at the file 15800_15899.json
Something went wrong at the file 15900_15999.json
Something went wrong at the file 16000_16099.json
Something went wrong at the file 16100_16199.json
Something went wrong at the file 16200_16299.json
Something went wrong at the file 16300_16399.json
Something went wrong at the file 16400_16499.json
Something went wrong at the file 16500_16599.json
Something went wrong at the file 16600_16699.json
Something went wrong at the file 16700_16799.json
Something went wrong at the file 16800_16899.json
Something went wrong at the file 16900_16999.json
Something went wrong at the file 17000_17099.json
Something went wrong at the file 17100_17199.json
Something went wrong at the file 17200_17299.json
Something went wrong at the file 17300_17399.json
Something went wrong at the file 17400_17499.json
Something went wrong at the file 17500_17599.json
Something went wrong at the file 17600_17699.json
Something went wrong at the file 17700_17799.json
Something went wrong at the file 17800_17899.json
Something went wrong at the file 17900_17999.json
Something went wrong at the file 18000_18099.json
Something went wrong at the file 18100_18199.json
Something went wrong at the file 18200_18299.json
Something went wrong at the file 18300_18399.json
Something went wrong at the file 18400_18499.json
Something went wrong at the file 18500_18599.json
Something went wrong at the file 18600_18699.json
Something went wrong at the file 18700_18799.json
Something went wrong at the file 18800_18899.json
Something went wrong at the file 18900_18999.json
Something went wrong at the file 19000_19099.json
Something went wrong at the file 19100_19199.json
Something went wrong at the file 19200_19299.json
Something went wrong at the file 19300_19399.json
Something went wrong at the file 19400_19499.json
Something went wrong at the file 19500_19599.json
Something went wrong at the file 19600_19699.json
Something went wrong at the file 19700_19799.json
Something went wrong at the file 19800_19899.json
Something went wrong at the file 19900_19999.json
Something went wrong at the file 20000_20099.json
Something went wrong at the file 20100_20199.json
Something went wrong at the file 20200_20299.json
Something went wrong at the file 20300_20399.json
Something went wrong at the file 20400_20499.json

In [24]:
data_final.shape

(400, 7)

In [25]:
# To delete any empty keywords in the sampled dataset.
data_final.drop(data_final[data_final['key_words'] == '[]'].index, inplace = True)

In [26]:
data_final.shape

(399, 7)

In [27]:
# Creating the final output file to use
output_filename = 'News_Category.csv'
output_filename = '/content/drive/My Drive/BigDataAnalyticsAndApplications/Project/dataset/'+ output_filename
data_final.to_csv(output_filename, index= False)